.idea/
*/__pycache__/*
*.pyc
.vscode/
model/
function/Pose/data
output/**
intermediate_results/**
input/*/cad/*/*.pickle
SAVED/
function/utilities/stdout.txt
input/test/*
input/missiion2_syn/*
input/selected/*
input/*/cad/center.json
eval.sh
eval.py
isaac/